<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-list"></i> Cursos
        </div>
        <div class="card-body">
          <!-- NOVO USUARIO -->
          <div *ngIf="!editCurso">
            <div class="row mg-bot-10">
              <div class="col-lg-12">
                <label>Nome</label>
                <input type="text" class="form-control" [(ngModel)]="curso.name">
              </div>
            </div>
            <div class="row mg-bot-20">
              <div class="col-lg-8">
                <label>Descrição</label>
                <textarea type="text" class="form-control" [(ngModel)]="curso.description"></textarea>
              </div>
              <div class="col-lg-4">
                <label></label>
                <div class="novoUsuarioBtn" (click)="newCourse()">
                  Adicionar
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="editCurso">
            <div class="row mg-bot-10">
              <div class="col-lg-12">
                <label>Nome</label>
                <input type="text" class="form-control" [(ngModel)]="curso.name">
              </div>
            </div>
            <div class="row mg-bot-20">
              <div class="col-lg-8">
                <label>Descrição</label>
                <textarea type="text" class="form-control" [(ngModel)]="curso.description"></textarea>
              </div>
              <div class="col-lg-2">
                <label></label>
                <div class="novoUsuarioBtn" (click)="cancel()" style="background: #d91c49">
                  Cancelar
                </div>
              </div>

              <div class="col-lg-2">
                <label></label>
                <div class="novoUsuarioBtn" (click)="save()">
                  Salvar
                </div>
              </div>
            </div>
          </div>
          <div class="row mg-bot-40">
            <div class="col-lg-12 alignCenter">
              <p *ngIf="showMessage" class="messageErr">{{message}}</p>
            </div>
          </div>


          <div class="alignCenter" *ngIf="loading">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>

          <!-- USUARIOS -->
          <table class="table table-striped" *ngIf="!loading">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of cursos" class="hoverRow">
                <td>{{c?.name}}</td>
                <td>{{c?.id}}</td>
                <td>{{c?.description}}</td>
                <td>
                  <button (click)="edit(c)" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Editar</button>
                </td>
                <td>
                  <button (click)="trilhas(c)" class="btn btn-sm btn-secondary"><i class="fa fa-bookmark"></i> Trilhas</button>
                </td>
                <td><button (click)="trash(c)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Excluir</button></td>
              </tr>
            </tbody>
          </table>
          <!-- <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>